

h1{
    color:blue;
    background-color:lightcyan;
    border: solid 1px;
    text-align: center;
}
h2{

    color: blue;
    background-color: aquamarine;
    border: solid 1px;
    text-align: center;
} 

table{

    background-color: aquamarine;
    text-align: left;
    border-collapse: collapse;
    width: 70%;
    position:absolute;
    top: 83px;
    right: 5%;
    /* margin:auto; */

}

input{
    font-size:15px;
}

th, td{
    font-family: "Arial";
    font-size:15px;
    border: solid 1px green;
    padding: 8;
}

thead{
    background-color: lightgreen;
    /* border-bottom: solid 50pix black; */
    color: green;

}

tr:nth-child(even){
    background-color: #ddd;
} 

tr:hover td{
    background-color: darkgreen;
    color: white;
}
tr:hover .fas{
    
    color: white;
}

form{
    text-align:center;
    width: 18%;
    background-color:lightgreen;
    border: solid 1px green;  
    /* margin: auto 41%; */
}  

p {
    font-family: "Arial";
    font-size:18px;
}

.fas{
    cursor: pointer;
    margin-left: 5px;
    font-size:18px;
    color: green;
}
.btn{
    cursor: pointer;
    margin-left: 7px;
    border: solid 1px black;
    font-size:15px;
}


    
